*{
  box-sizing: border-box;
}
body {
  background-color: blue;
  font-family: Helvetica;
  font-size:18px;
  line-height: 1.4;
  display: flex;
  flex-flow: column nowrap;

}

@media only screen and (max-width:2900px) and (min-width:1025px){
  body{
    background-color:orange;/*for debugging*/
    font-size:1rem;
    display;flex;
    flex-flow: column nowrap;
    min-width:1025px;
    max-width:2900px;
  }
  .header{
    display:inline-flex;
    position: static;
    width:960px;
    background-color:cadet-blue;
    justify-content: space-between;
    padding:1rem 2rem;
    margin-top: 1rem;
  }
  .header .nav
}/*end of fullscreen webpage*/

@media only screen and (max-width:1024px) and (min-width:481px){
  body{
    background-color:Azure;/*for debugging*/
    font-size:1rem;
    display;flex;
    flex-flow: column nowrap;
    min-width:479px;
    max-width:1024px;
  }
  .header{
    display:inline-flex;
    position: static;
    width:100%;
    background-color:cadet-blue;
    justify-content: space-between;
    padding:1rem 2rem;
  }
  .nav{
    display:inline-flex;
    text-decoration: none;
  }
  .nav_mobile{
    display:none;
  }
  /*end of tablet header*/
  .banner{
    background-image: url("../resources/images_2/glasses-bg.png");
    background-size: cover;
    position: center;
    flex: flex-end;
    height:30rem;
  }
  .banner h1{
    justify-content: flex-end;
    margin-right: 2rem;
    margin-top: 5rem;
    padding:0.75 4rem;
    background-color: Azure;
    text-transform:capitalize;
    font-size: 1.33rem;
    font-weight: bold;
  }
  /*end of tablet banner*/
  .icon_container{
    display: inline-flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 1rem;
    padding: 3rem 3rem;
    box-sizing: border-box;
  }
  .exams.
  .fittings,
  .delivery{
    height:8rem;
    width:5rem;
    flex-direction: column;
  }


  .exams {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 1px solid green;/*for debugging*/
    width:25%;
    height:8rem;
  }
  .exams .exams_img{
    background-image: url("../resources/images_2/paper-icon.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid red;/*for debugging*/
    width:10rem;
    height:5rem;
  }

  .fittings {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 1px solid green;/*for debugging*/
    width:25%;
    height:8rem;
  }
  .fittings_img{
    background-image: url("../resources/images_2/ruler-icon.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid red;/*for debugging*/
    width:10rem;
    height:5rem;
  }


  .delivery{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 1px solid green;/*for debugging*/
    width:25%;
    height:8rem;
  }
  .delivery_img{
    background-image: url("../resources/images_2/truck-icon.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid red;/*for debugging*/
    width:10rem;
    height:5rem;
  }
  /*end of tablet icon_container*/
  .info{
    display:inline-flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    width:100%;
  }
  .philosophy{
    display: flex;
    flex-flow: column nowrap;
    width:35%;
    padding-left: 5%;
    padding-right: 5%;
  }
  .philosophy h2{
    font-family: Helvetica;
    font-weight:bold;
    font-size: 1rem;
    background-color: cadetblue;
    padding:0.5rem 1.25rem;
    width:10rem;
  }
  .appointments{
    display: flex;
    flex-flow: column nowrap;
    width:35%;
    padding-left: 5%;
    padding-right: 5%;
  }
  .appointments h2{
    font-family: Helvetica;
    font-weight:bold;
    font-size: 1rem;
    background-color: cadetblue;
    padding:0.5rem 1.25rem;
    width:10rem;
  }
  .philosophy p,
  .appointments p{
    margin-bottom: 5rem;
  }
  /*end of tablet info*/
  .footer{
    display: inline-flex;
    background-color: pink;/*for debugging*/
    justify-content: flex-start;
    align-items: center;
    width:100%;
    height:9.5rem;

  }
  .footer img{
    height:1.5rem;
    margin:4rem 1rem 4rem 4rem;
  }
}




@media only screen and (max-width:480px){
  body{
    background-color:grey;/*for debugging*/
    font-size:0.77rem;
    display;flex;
    flex-flow: column nowrap;
    min-width:479px;
    width:100%;
    border: 3px solid red;/*for debugging*/
  }
  .header{
    display:inline-flex;
    justify-content: space-between;
    box-sizing: border-box;
    position: static;
    width:100%;
    background-color:cadetblue;
    border: 1px solid red;/*for debugging*/
    z-index: 1;
  }
  .header img {
    border: 1px solid white;/*for debugging*/
    display:flex;
    margin: 0.66rem 2rem;
    height:2rem;
    width:5rem;
  }
  .header h1,
  .nav{
    display:none;
  }
  .white_logo{
    padding:0.3rem 0;
  }
  .nav_mobile{
    padding: 1rem 2rem;
    font-size: 1rem;
  }

/*end of mobile header*/
  .banner{
    display: flex;
    align-items: flex-end;
    background-image: url("../resources/images_2/glasses-bg.png");
    background-size: cover;
    background-position: 20%;
    position: relative;
    top:-3rem;
    border: 1px solid white;/*for debugging*/
    height: 17rem;

  }

  .banner h1 {
    position: relative;
    margin-bottom: 2rem;
    padding: 1rem 0;
    width:100%;
    background-color: azure;
    color:black;
    text-align: center;
    font-size:1rem;
    font-weight:bold;
    text-transform: uppercase;
  }
/*end of mobile banner*/
.icon_container{
  display:flex;
  flex-direction: column;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
  font-size: 1rem;
  margin:0 auto;
  box-sizing: border-box;
}
.exams.
.fittings,
.delivery{
  height:8rem;
  width:5rem;
  flex-direction: column;
}


.exams {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 1px solid green;/*for debugging*/
  width:30%;
  height:8rem;
  margin-top: 3.75rem;
  margin-bottom:1.54rem;
  font-size: 0.77rem;
}
.exams .exams_img{
  background-image: url("../resources/images_2/paper-icon.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid red;/*for debugging*/
  width:10rem;
  height:5rem;
}
.exams p{
  padding-left: 1rem;
}
.fittings {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 1px solid green;/*for debugging*/
  width:30%;
  height:8rem;
  font-size: 0.77rem;
  text-align: center;
}
.fittings_img{
  background-image: url("../resources/images_2/ruler-icon.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid red;/*for debugging*/
  width:10rem;
  height:5rem;
}


.delivery{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 1px solid green;/*for debugging*/
  width:30%%;
  height:8rem;
  margin-bottom: 3.75rem;
  margin-top:1.54rem;
  font-size: 0.77rem;
}
.delivery_img{
  background-image: url("../resources/images_2/truck-icon.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid red;/*for debugging*/
  width:10rem;
  height:5rem;
}
  /*end of mobile icon_container*/
  .info{
    flex-flow: column nowrap;
  }
  .philosophy{
    flex-direction: row;
    width:100%;
  }
  .philosophy h2,
  .appointments h2 {
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color:cadetblue;
    width:100%;
    font-weight:bold;
    font-size: 1rem;
    padding-top: 0.77rem;
    padding-bottom: 0.77rem;
    color:white;
    text-transform: uppercase;
  }
  .philosophy p{
    background-color:Azure;
    padding-top: 1rem;
    padding-bottom: 4rem;
    font-size: 0.77rem;
  }

  .appointments{
    flex-direction: row;
    width:100%;
  }
  .appointments p{
    background-color:Azure;
    padding-top: 1rem;
    padding-bottom: 4rem;
    font-size: 0.77rem;
  }
  /*end of info */
  .footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem 0;
  }
  .black_logo{
    border: 1px solid red;/*for debugging*/
    height:2rem;
  }
  .footer p{
    display:none;

  }
}
